// @import '../../styles/modal.css';
.main {
    padding: 0 0.5rem;
    &__modal {
        &__title {
            font-size: 2.5rem;
        }
        &__progressBar {
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 400px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 500px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 14px;
    }
}