// @import '../../styles/modal.scss'
.main {
    padding: 0 0.5rem;
    &__buttons {
        // display: grid;
        // grid-gap: 2px;
        button {
            // background-color: lightgreen;
            // border-radius: 10px;
        }
    }
}

span {
    background-color: aqua
}

@media (min-width: 400px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 500px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 15px;
    }
}