@import "../../styles/base/_colours.scss";
$padding: 0.5rem;
$gridGap: 0.6rem;
$borderRadius: 5px;
$fontSize: 1.3rem;
// $boxBackgroundColor: #073045;
@mixin buttonValues {
    border-radius: $borderRadius*2;
    background-color: $buttonColor;
    color: $boxBackgroundColor;
    font-weight: 500;
}

.parcelValues {
    display: grid;
    grid-gap: $gridGap;
    background-color: $boxBackgroundColor;
    color: white;
    padding: $padding*2;
    border-radius: $borderRadius;
    &__countries {
        display: grid;
        grid-gap: $gridGap/2;
    }
    &__countryFromAndTo {
        display: grid;
        grid-template-columns: 6fr 4fr;
    }
    &__countryFromAndTo-selectCountry {
        display: grid;
        grid-template-columns: 4rem minmax($padding, 1fr) auto;
        grid-gap: $gridGap/5;
        &__label {
            justify-self: right;
            align-self: center;
            font-size: $fontSize;
            padding-right: $padding;
        }
        select {
            font-size: $fontSize;
            align-self: center;
            border-radius: 0px;
            padding-right: 0.75rem;
            cursor: pointer;
            background-color: #ffffff;
            ///* Removes the default <select> styling */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            /* Positions background arrow image */
            background-image: url('../../images/icons8-sort-24.png');
            background-repeat: no-repeat;
            background-size: 0.8rem 1.2rem;
            background-position: right;
            border-top: inset $padding+0.8rem transparent;
            border-bottom: inset $padding+0.8rem transparent;
            border-right: inset 0 transparent;
            border-left: inset 0 transparent;
            padding-left: $padding;
        }
    }
    &__countryFromAndTo-inputPostcode {
        display: grid;
        grid-template-columns: minmax(0.1rem, 1fr);
        label,
        p {
            display: none;
        }
        input {
            font-size: $fontSize;
            padding-left: $padding;
            outline: none;
            border: none;
            border-radius: 0px;
            // padding: 1rem;
        }
    }
    &__values {
        display: grid;
        grid-template-columns: minmax(min-content, 1fr) max-content;
        grid-gap: 0.5rem;
        label {
            font-size: $fontSize;
            justify-self: right;
            // align-self: center;
            padding-right: $gridGap;
            height: 2rem;
        }
        input {
            height: 2rem;
            font-size: $fontSize;
            text-align: center;
            outline: none;
            border: none;
            border-radius: 0px;
            padding-left: $gridGap;
        }
        p {
            height: 2rem;
            display: grid;
            text-align: center;
            align-items: center;
            background-color: rgb(129, 120, 120);
            padding: 0 0.5rem;
            font-size: 0.9rem;
        }
        &__button {
            justify-self: center;
            align-self: center;
            // min-height: 2.2rem;
            // width: min-content;
            border: 0;
            @include buttonValues
        }
        &__button:focus {
            outline: none !important;
        }
        &__button:hover {
            background-color: $buttonColorHover;
        }
        &__dimensions {
            display: grid;
            grid-gap: 0.2rem;
            align-self: left;
        }
        &__dimensions-inputForm {
            display: grid;
            grid-template-columns: minmax(0.1rem, 1fr) minmax($padding, 5rem) 2.2rem;
        }
    }
    &__button-quote {
        font-size: $fontSize;
        border: none;
        height: 2.2rem;
        @include buttonValues
    }
    &__button-quote:focus {
        outline: none !important;
    }
    &__button-quote:hover {
        background-color: $buttonColorHover;
    }
}