$padding: 0.6rem;
$gridGap: 0.5rem;
$borderRadius: 5px;
.parcelValues {
    display: grid;
    grid-gap: $gridGap;
    background-color: #00c3ff;
    padding: $padding;
    border-radius: $borderRadius;
    &__countries {
        display: grid;
        grid-gap: $gridGap;
    }
    &__countryFromAndTo {
        display: grid;
        grid-template-columns: 6fr 4fr;
    }
    &__countryFromAndTo-selectCountry {
        display: grid;
        grid-template-columns: 3rem minmax($padding, 1fr) auto;
        grid-gap: $gridGap;
        &__label {
            justify-self: right;
            align-self: center;
            font-size: 1.2rem;
        }
        select {
            align-self: center;
            border-radius: 0px;
            padding-right: 1.1rem;
            cursor: pointer;
            background-color: #ffffff;
            ///* Removes the default <select> styling */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            /* Positions background arrow image */
            background-image: url('https://img.icons8.com/ios/50/000000/sorting-arrows.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
            border: inset $padding transparent;
        }
    }
    &__countryFromAndTo-inputPostcode {
        display: grid;
        grid-template-columns: minmax(0.1rem, 1fr);
        label,
        p {
            display: none;
        }
        input {
            // padding: 1rem 0.5rem;
            padding-left: $padding;
            outline: none;
            border: none;
            border-radius: 0px;
            // padding: 1rem;
        }
    }
    &__dimensions {
        display: grid;
        justify-content: right;
        grid-template-columns: 70%;
        &-weight {
            display: grid;
            grid-template-columns: repeat(2, minmax(0.1rem, 1fr)) min-content;
            label {
                justify-self: right;
                align-self: center;
                padding-right: $gridGap;
            }
            input {
                outline: none;
                border: none;
                border-radius: 0px;
                padding-left: $gridGap;
            }
            p {
                display: grid;
                align-items: center;
                background-color: rgb(204, 204, 204);
                padding: 0 0.5rem;
                font-size: 0.7rem;
            }
        }
        &-width {
            display: none;
        }
        &-height {
            display: none;
        }
        &-length {
            display: none;
        }
    }
}