$padding: 0.5rem;
$gridGap: 0.6rem;
$borderRadius: 5px;
$fontSize: 1.3rem;
.parcelValues {
    display: grid;
    grid-gap: $gridGap;
    background-color: #00c3ff;
    padding: $padding*2;
    border-radius: $borderRadius;
    &__countries {
        display: grid;
        grid-gap: $gridGap/2;
    }
    &__countryFromAndTo {
        display: grid;
        grid-template-columns: 6fr 4fr;
    }
    &__countryFromAndTo-selectCountry {
        display: grid;
        grid-template-columns: 4rem minmax($padding, 1fr) auto;
        grid-gap: $gridGap/5;
        &__label {
            justify-self: right;
            align-self: center;
            font-size: $fontSize;
            padding-right: $padding;
        }
        select {
            font-size: $fontSize;
            align-self: center;
            border-radius: 0px;
            padding-right: 0.75rem;
            cursor: pointer;
            background-color: #ffffff;
            ///* Removes the default <select> styling */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            /* Positions background arrow image */
            background-image: url('../../images/icons8-sort-24.png');
            background-repeat: no-repeat;
            background-size: 0.8rem 1.2rem;
            background-position: right;
            border-top: inset $padding+0.8rem transparent;
            border-bottom: inset $padding+0.8rem transparent;
            border-right: inset 0 transparent;
            border-left: inset 0 transparent;
            padding-left: $padding;
        }
    }
    &__countryFromAndTo-inputPostcode {
        display: grid;
        grid-template-columns: minmax(0.1rem, 1fr);
        label,
        p {
            display: none;
        }
        input {
            font-size: $fontSize;
            padding-left: $padding;
            outline: none;
            border: none;
            border-radius: 0px;
            // padding: 1rem;
        }
    }
    &__dimensions {
        display: grid;
        justify-content: right;
        grid-template-columns: 70%;
        &-weight {
            display: grid;
            grid-template-columns: minmax(0.1rem, 1fr) minmax($padding, 3rem) min-content;
            label {
                font-size: $fontSize;
                justify-self: right;
                align-self: center;
                padding-right: $gridGap;
            }
            input {
                font-size: $fontSize;
                outline: none;
                border: none;
                border-radius: 0px;
                padding-left: $gridGap;
            }
            p {
                display: grid;
                align-items: center;
                background-color: rgb(204, 204, 204);
                padding: 0 0.5rem;
                font-size: 0.7rem;
            }
        }
        &-width {
            display: none;
        }
        &-height {
            display: none;
        }
        &-length {
            display: none;
        }
    }
    &__button-quote {
        font-size: $fontSize;
        background-color: #04e204;
        border: none;
        border-radius: $borderRadius;
    }
}