.singleCourier {
    display: grid;
    // grid-template-columns: minmax(7rem, max-content) 1fr;
    border: 1px solid lightblue;
    &__summary {
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: center;
        grid-gap: 0.5rem;
        // &::-webkit-details-marker {
        //     display: none;
        // }
        // &:first-of-type {
        //     list-style-type: none;
        // }
        // &:hover {
        //     cursor: pointer;
        // }
        // &:focus {
        //     border: 0;
        //     outline: none;
        // }
    }
}