@import url('https://fonts.googleapis.com/css?family=Catamaran:900&display=swap');
$font-size: 4.9rem;
$motto-padding-right-and-left: 2.7rem;
.welcomeScreen {
    padding-top: 6rem;
    padding-bottom: 1rem;
    &__logo {
        text-align: center;
        background-color: white;
        font-weight: 900;
        font-family: 'Catamaran', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: -1px;
        display: grid;
        grid-template-columns: minmax(200px , 1fr);

        &__first {
            display: flex;
            justify-content: center;
            span:nth-child(1) {
                font-size: $font-size;
                color: rgb(127, 55, 175);
            }
    
            span:nth-child(2) {
                font-size: $font-size;
                color: rgb(255, 83, 4);
            }
        }

        &__second {
            display: flex;
            justify-content: center;
            span:nth-child(1) {
                font-size: $font-size;
                color: rgb(10, 126, 19);
            }
            span:nth-child(2) {
                font-size: $font-size;
                color: rgb(44, 102, 226)
            }
        }
    }
    &__motto {
        text-align: center;
        padding: 0.5rem $motto-padding-right-and-left 0 $motto-padding-right-and-left;
        font-family: Arial, Helvetica, Sans, Sans-Serif, Sans Serif;
        font-size: 1.2rem;
    }
}

@media (min-width: 350px) {
    .welcomeScreen {
        &__logo {
            grid-template-columns: repeat(2, minmax(100px , 1fr));
            &__first {
                display: flex;
                justify-content: flex-end;
                padding-right: 0.5rem;
            }
            &__second {
                display: flex;
                justify-content: flex-start;
                padding-left: 0.5rem;
            }
        }
    }
}
@media (min-width: 550px) {
    .welcomeScreen {
        &__logo {
            &__first {
                span:nth-child(1) {
                    font-size: $font-size * 1.3;
                }
        
                span:nth-child(2) {
                    font-size: $font-size * 1.3;
                }
            }
            &__second {
                span:nth-child(1) {
                    font-size: $font-size * 1.3;
                }
                span:nth-child(2) {
                    font-size: $font-size * 1.3;
                }
            }
        }
    }
}
