.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.app__singleBox {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 1rem;
}

.app__days {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 1rem;
    border: solid green;
}

.app__days>p {
    text-align: center;
}

.app_singleCurier {
    display: grid;
    border: solid red;
    grid-auto-rows: min-content;
}