@import "../../../styles/base/_colours.scss";
@import "../../../styles/base/_boxes.scss";
$font-size: 1.2rem;
@mixin eachCarousel() {
    padding: 1rem 2.5rem;
    background-color: white;
    height: 100%;
    text-align: center;
    border-radius: $borderRadius;
}

.buttonColor {
    background-color: $buttonColor;
}

.results {
    margin-top: 1rem;
    padding: 1rem;
    background: $boxBackgroundColor;
    border-radius: $borderRadius;
    &__wrapper {
        display: grid;
        grid-gap: 1rem;
        grid-auto-columns: minmax(100%, 1fr);
        &__sortingButtons {
            display: grid;
            grid-gap: 1rem;
            &__title {
                display: grid;
                justify-content: right;

                &__button {
                    font-size: $font-size * 1.3;
                    border-radius: $borderRadius;
                    background-color: $buttonColor;
                    color: $boxBackgroundColor;
                    font-weight: 500;
                    border: 0;
                    width: max-content;
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        background-color: $buttonColorHover !important;
                    }
                }
            }
            &__buttons {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                justify-items: center;
                align-items: center;
                grid-gap: 0.1rem;
                
                &__button {
                    font-size: $font-size;
                    @include eachCarousel();
                    width: 100%;
                    padding: 0.5rem;

                    &:hover {
                        background-color: $buttonColorHover !important;
                        // transform: scale(1.2, 1.2);
                        // transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
                    }
                }
            }
        }
        &__days {
            @include eachCarousel();
            &:hover {
                background-color: $buttonColorHover !important;
            }
            &__title {
                font-size: $font-size * 1.3;
            }
        }
        &__couriers {
            @include eachCarousel();
            display: grid;
            align-items: center;
            &:hover {
                background-color: $buttonColorHover !important;
            }
            &__label {
                p {
                    font-size: $font-size * 1.3;
                }
            }
        }
        &__buttons {
            @include eachCarousel();
            display: grid;
            grid-template-rows: min-content 1fr;
            grid-gap: 0.3rem;
            &__label {
                p {
                    font-size: $font-size * 1.3;
                }
            }
            &__buttons {
                display: grid;
                grid-template-columns: auto;
                grid-auto-rows: min-content;
                align-content: center;
                justify-content: center;
                grid-gap: 0.4rem;
                &__button {
                    font-size: $font-size * 1.3;
                    border-radius: $borderRadius;
                    background-color: $buttonColor;
                    
                    font-weight: 500;
                    padding: 0 0.3rem;
                    margin: 0;
                    border: 0;
                    width: min-content;

                    a {
                        color: $boxBackgroundColor;
                    }
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        background-color: $buttonColorHover !important;
                    }

                }
            }
        }
    }
}