$border-color: #ccc;
$boxBackgroundColor: #073045;
$selectedBox: #705353;
$buttonColor: #EED369;
$buttonColorHover: #e9af44;
:export {
    selectedBox: $selectedBox;
    buttonColor: $buttonColor;
    buttonColorHover: $buttonColorHover;
}